---
# Only the main Sass file needs front matter (the dashes are enough)
---

//blog text size
.post-content{
  p{
    font-size: 18px;
  }
}

/* header part */
.main-header {
  .ui.inverted.vertical.masthead.center.aligned.segment{
    height: 460px;
    background: no-repeat center center;
    h1{
      font-size: 38px;
    }
    .blog-part{
      .description{
        font-size: 22px;
      }
    }
  }
}
.ui.menu{
  a.item{
    color: inverted;
    font-weight: bold;
  }
}
.ui.menu.main-menu{
  margin-top: -1em;
}
.ui.menu.following-menu{
  opacity: 0.7;
}
.toc.item{
  display: none !important;
}
@media only screen and (min-width: 701px) {
  .ui.text.container.header.tags-part{
    padding-top: 100px;
  }
}
@media only screen and (max-width: 700px) {
  .main-header{
    .ui.inverted.vertical.masthead.center.aligned.segment{
      height: 280px;
      .ui.small.centered.circular.image{
        width: 100px;
      }
      h1{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
      }
      p.description{
        margin-bottom: 0;
      }
      .ui.text.container.header{
        margin-top: 0;
      }
      .right.menu{
        display: none !important;
      }
      .ui.menu.following-menu{
        display: none !important;
      }
      .toc.item{
        display: block !important;
      }
    }
  }
}
/* end header part */

/* footer part */
.ui.inverted.link.list{
  i.icon:hover{
    color: #9BCD9B !important;
    transform: scale(1.2);
  }
}
.ui.divider{
  color: white;
  text-align: center;
}

@media only screen and(min-width:992px){
  .ui.stackable.inverted.stackable.grid{
    padding-left: 10em;
  }
}
/* end footer part */

/* tags part */
.ui.container.tags-container{
  padding-top: 4em;
  .alltags{
    a.ui.button{
      margin-bottom: 0.5em;
    }
    a.ui.button:hover{
      background-color: #0E6EB8 !important;
      color: #FFFFFF !important;
    }
  }
  a{
    h2.tag-type{
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      color: #00BFFF;
      font-weight: lighter;
    }
  }
  h2.post-title{
    margin-left: 2em;
    font-size: 20px;
    color: #000000;
  }
  h3.post-subtitle{
    margin-left: 4em;
    margin-top: 0;
    font-size: 14px;
    font-weight: lighter;
    color: #000000;
  }
  a.tag-title{
    //margin-left: 1em;
  }
  a.tag-title:hover{
    h2{
      color: #1E90FF;
    }
    h3{
      color: #1E90FF;
    }
  }
}
/* end tags part */

@charset "utf-8";
/* footer style */
.footer-part{
  .contact-font{
    font-size: 20px;
    color: white !important;
  }
}

@media only screen and(min-width:992px){
  .doubling.stackable.two.column.ui.grid.container.post-part {
    padding-left: 8em;
  }
}

.doubling.stackable.two.column.ui.grid.container.post-part {
  padding-top: 4em;
  .twelve.wide.column{
    .post-preview{
      padding-bottom:4em !important;
      p{
        font-size: 14px !important;
      }
      .metadata {
        span {
          color: gray;
          font-weight: bold;
        }
      }
    }
    .pager.row {
      padding-bottom: 5em;
      .ui.basic.primary.button:hover{
        background-color: #0E6EB8 !important;
        color: #FFFFFF !important;
        font-weight: bold;
      }
    }
  }
  .four.wide.right.column{
    h3{
      a{
        color: #000000;
      }
    }
    .ui.basic.label{
      background-color: white !important;
      color: #0E6EB8 !important;
      border-color: #0E6EB8 !important;
    }
    .ui.basic.label:hover{
      background-color: #0E6EB8 !important;
      color: white !important;
    }
  }
}

/* Post page style */
.post-page{
  @media only screen and (min-width: 768px){
    .ui.container{
      padding:  6em 8em;
    }
  }
  @media only screen and (max-width: 767px){
    .ui.container{
      padding:  1em 1em;
    }
  }
  .ui.container{
    //background-color: #E5E5E5;
    text-align: left;
  }
}


pre {
  overflow: auto;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  display: block;
  width: auto;
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre;
  background-color: transparent;
  border-radius: 0;
  word-wrap: normal;
}
