---
# Only the main Sass file needs front matter (the dashes are enough)
---
//blog text size
.post-content{
  p{
    font-size: 18px;
  }
}

/* header part */
.ui.menu{
  a.item{
    color: inverted;
    font-weight: bold;
  }
}
.ui.menu.main-menu{
  margin-top: -1em;
}
.ui.menu.following-menu{
  opacity: 0.7;
}

/* end header part */

/* footer part */
.ui.inverted.link.list{
  i.icon:hover{
    color: #9BCD9B !important;
    transform: scale(1.2);
  }
}
.ui.divider{
  color: white;
  text-align: center;
}
.ui.stackable.inverted.stackable.grid{
  padding-left: 10em;
}
/* end footer part */

@charset "utf-8";
/* footer style */
.footer-part{
  .contact-font{
    font-size: 20px;
    color: white !important;
  }
}

/* header style */
.main-header {
  .ui.inverted.vertical.masthead.center.aligned.segment{
    height: 460px;
    h1{
      font-size: 38px !important;
    }
    .blog-part{
      .description{
        font-size: 22px;
      }
    }
  }
}

.doubling.stackable.two.column.ui.grid.container.post-part {
  padding-top: 4em;
  padding-left: 8em;
  .twelve.wide.column{
    .post-preview{
      padding-bottom:4em !important;
      p{
        font-size: 14px !important;
      }
      .metadata {
        span {
          color: gray;
          font-weight: bold;
        }
      }
    }
  }
  .four.wide.right.column{
    .ui.basic.label{
      background-color: white !important;
      color: #1E90FF !important;
      border-color: #1E90FF !important;
    }
    .ui.basic.label:hover{
      background-color: #1E90FF !important;
      color: white !important;
    }
  }
}

/* Post page style */
.post-page{
  @media only screen and (min-width: 768px){
    .ui.container{
      padding:  6em 8em;
    }
  }
  @media only screen and (max-width: 767px){
    .ui.container{
      padding:  1em 1em;
    }
  }
  .ui.container{
    //background-color: #E5E5E5;
    text-align: left;
  }
}


pre {
  overflow: auto;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  display: block;
  width: auto;
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre;
  background-color: transparent;
  border-radius: 0;
  word-wrap: normal;
}
