---
layout: default
---
<div class="doubling stackable two column ui grid container post-part">
  <div class="twelve wide column">
    <div class="ui items">
      <!--<div class="item">
        <div class="content">
          <a class="header">Stevie Feliciano</a>
          <div class="description">
            <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <a class="header"><h2>Veronika Ossi</h2></a>
          <div class="description">
            <p>Veronika Ossi is a set designer living in New York who <a>enjoys</a> kittens, music, and partying.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <a class="header" href="/">Jenny Hess</a>
          <div class="description">
            <p>Jenny is a student studying Media Management at <a>the New School</a>.</p>
          </div>
        </div>
      </div>-->
      {% for post in paginator.posts %}
    <!--<div class="post-preview">
        <a href="{{post.url | prepend: site.baseurl}}">
          <h2>{{ post.title }}</h2>
          <p>{{ post.content | strip_html | truncate:200 }}</p>
        </a>
        <div class="metadata">
          <span class="date">{{post.date | date: "%B %-d, %Y"}}</span>
        </div>
      </div>-->
        <div class="item post-preview">
          <div class="content">
            <a class="header" href="{{post.url | prepend: site.baseurl}}"><h2>{{ post.title }}</h2></a>
            <div class="description">
              <p>{{ post.content | strip_html | truncate:200 }}</p>
            </div>
            <div class="metadata">
              <span class="date">{{post.date | date: "%B %-d, %Y"}}</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if paginator.total_pages > 1 %}
      <div class="pager row">
        {% if paginator.previous_page %}
          <a class="ui basic primary button left floated" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Blogs</a>
        {% endif %}
        {% if paginator.next_page %}
          <a class="ui basic primary button right floated" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Blogs &rarr;</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="four wide right column">
    <h3><a href="/tags">TAGS OF BLOG</a></h3>
    <div class="ui labels">
      {% for tag in site.tags %}
        <a class="ui basic tiny primary button" href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
          {{ tag[0] }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
