---
title: Tags
layout: tag
permalink: /tags/
---

<div class="ui text container tags-container">
  <div class="ui text container">
    <div class="alltags">
			{% for tag in site.tags %}
				<a class="ui basic primary button" href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
      {% endfor %}
		</div>
  </div>
  <div id='tag_cloud' class="tags">
    {% for tag in site.tags %}
      <a class="tag-label" id="{{ tag[0] }}">
        <h2 class="tag-type">
          <i class="large tag blue icon"></i>
          {{ tag[0] }}
        </h2>
      </a>
      {% for post in tag[1] %}
        <a class="tag-title" href="{{ post.url | prepend: site.baseurl }}">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
          {% if post.subtitle %}
            <h3 class="post-subtitle">
              {{ post.subtitle }}
            </h3>
          {% endif %}
        </a>
        <div class="ui divider"></div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
