<footer class="footer">
  <div class="ui inverted vertical footer segment footer-part" style="background-image: url('/assets/footer.png')">
    <div class="ui container" style="padding-bottom:100px;padding-top:50px">
      <div class="ui stackable inverted stackable grid">
        <div class="seven wide column">
          <!--<h4 class="ui inverted header">Links</h4>-->
          <div class="ui inverted link list">
            <a href="https://github.com/susufqx"><i class="circular github inverted big grey icon"></i></a>
            <a href="https://weibo.com/jsyclr"><i class="circular weibo inverted big grey icon"></i></a>
            <a href="#"><i class="circular twitter inverted big grey icon"></i></a>
            <a href="#"><i class="circular qq inverted big grey icon"></i></a>
            <a href="#"><i class="circular facebook inverted big grey icon"></i></a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Contact me</h4>
          <div class="ui inverted link list">
            <a href="#" class="item contact-font"><i class="qq icon"></i>1050090904</a>
            <a href="#" class="item contact-font"><i class="mobile icon"></i>+33612233080</a>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">SusuFQX</h4>
          <p class="contact-font">Welcome to my space!</p>
        </div>
      </div>
    </div>
  </div>
</footer>
