<footer class="footer">
  <div class="ui inverted vertical footer segment footer-part" style="background-image: url('/assets/footer.png');background-color:#00BFFF;">
    <div class="ui container" style="padding-bottom:50px;padding-top:50px">
      <div class="ui inverted stackable grid">
        <div class="eight wide right floated column">
          <ul class="icons">
            <li><a href="https://github.com/susufqx"><i class="circular github inverted big grey icon"></i></a></li>
            <li><a href="https://weibo.com/jsyclr"><i class="circular weibo inverted big grey icon"></i></a></li>
            <li><a href="#"><i class="circular twitter inverted big grey icon"></i></a></li>
            <li><a href="#"><i class="circular facebook inverted big grey icon"></i></a></li>
          </ul>
        </div>
        <div class="six wide column">
          <h4 class="ui inverted header">Contact me</h4>
          <div class="ui inverted left aligned link list">
            <a href="#" class="item"><i class="qq icon"></i>&nbsp;1050090904</a>
            <a href="#" class="item"><i class="mobile icon"></i>&nbsp;+86 13552110535</a>
            <a href="#" class="item"><i class="wechat icon"></i>&nbsp;susufqx</a>
          </div>
        </div>
      </div>
      <div class="ui divider"><br />
        © 2017 SusuFQX Blog <br />
        | Theme by SusuFQX | </div>
    </div>
  </div>
</footer>