<header class="main-header" >
  <div class="ui inverted vertical masthead center aligned segment" style="background: url('/assets/hero.jpg')">
    <a href="/"><i class="huge white home icon"></i></a>
    <div class="ui text container header" style="padding-top:100px;padding-bottom:100px">
      <div class="header">
        <a href="{{ site.baseurl }}/">
            <img class="ui small centered circular image" src="/assets/headshot.jpg" />
        </a>
      </div>
      {%if page.title%}
        <h1>{{page.title}}</h1>
          <div class="metadata">
            <span class="date"><h2>{{page.date | date: "%B %-d, %Y"}}</h2></span>
          </div>
      {%else%}
        <h1 class="ui inverted ">
          SusuFQX's Blog
        </h1>
        <div class="main blog-part">
          <p class="description">{{ site.description }}</p>
          <a href="about" class="ui inverted button">Read More</a>
        </div>
      {%endif%}
    </div>
  </div>
</header>
