<div class="main-header">
  <div class="ui inverted vertical masthead center aligned segment" style="{%if page.header-img%}background-image: url({{page.header-img}}){%else%}background-image: url({{site.home-header-image}}){%endif%}">
    <!--Following menu-->
    <div class="ui large top fixed menu following-menu transition hidden">
      {% include menu.html %}
    </div>
    <!--Fixed menu-->
    <div class="ui menu secondary large main-menu">
      {% include menu.html %}
    </div>
    <!--Text part of header-->
    <div class="ui text container header">
        <a href="{{ site.baseurl }}/" class="ui small centered circular image">
          <img src="{{site.myself-avatar}}" />
        </a>

      {%if page.title%}
        <h1>{{page.title}}</h1>
        <div class="metadata">
          <span class="date"><h2>{{page.date | date: "%B %-d, %Y"}}</h2></span>
        </div>
      {%else%}
        <h1 class="ui inverted ">
          SusuFQX Blog
        </h1>
        <div class="main blog-part">
          <p class="description">{{ site.description }}</p>
          <a href="about" class="ui inverted button">ABOUT</a>
        </div>
      {%endif%}
    </div>
  </div>
</div>
<script>
$(document)
  .ready(function() {
    $('.main-menu')
      .visibility({
        once: false,
        onBottomPassed: function() {
          $('.following-menu').transition('fade in');
        },
        onBottomPassedReverse: function() {
          $('.following-menu').transition('fade out');
        }
      });
    $('.toc.item').click(function() {
      $('.ui.sidebar')
        .sidebar('toggle');
    });
  });
</script>
